:root {
    --card_bdr_radius: 15px;
    --light_grey: #e9e9e9;
}

body {
    font-size: 16px;
    color: #333;
}

/** Main Navigation **/
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

nav ul li {
    margin-right: 40px;
}

/** Hero Banner **/
.hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** Section **/
section {
    border: 1px solid var(--light_grey);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: left;
    overflow:hidden;
}

section .section-title {
    text-align: center;
    margin-bottom: 20px;
}


/** Section - My Work **/
#my-work {
    padding: 20px 40px;
}

.cardContainer {
    margin-bottom: 15px;
}

.card {
    border-radius: var(--card_bdr_radius);
}

.card-body {
    height: 250px;
}

.card-img, .card-img-top {
    border-top-left-radius: var(--card_bdr_radius);
    border-top-right-radius: var(--card_bdr_radius);
    height: 200px;
    border-bottom: 1px solid #e6e6e6;
}

.card-title {
    line-height: 22px;
}

.card-text {
    line-height: 20px;
}



